@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@uber9/micro-next-common-lib/build/common-lib.css";
@import "@uber9/web-react-components/lib/bundle.css";

.slick-list {
    max-width: 1115px;
  }

  @media (min-width: 992px) {
    .slick-slider {
      width: 100% !important;
      display: flex;
      justify-content: space-between;
    }
  }